@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "User Activity Log";
}
@section Scripts {
    <script src="~/js/views/masteruseractivitylog.js"></script>
}

<div id="tableDiv">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box add">
                <h1 class="page-title">User Activity Log</h1>

                @* <div class="add-btn"> *@
                @*     <a href="#" id="addUser Activity Log"> *@
                @*         <i class="ri-add-line"></i> <span>Add</span> *@
                @*     </a> *@
                @* </div> *@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card com-profile-info">
                <!-- Top Header -->
                <div class="table-top-header">
                    <h4>List ofUser Activity Log</h4>
                    <div class="d-flex gap-2">
                        <div class="table-search-box">
                            <input type="text" id="ActivityLogTableSearch" class="form-control form-control-sm" placeholder="Search...">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </div>
                        <div id="exportPlacementButtons" class="btn-group" role="group"></div>
                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table id="ActivityLogTable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr class="text-center">
                                <th class="sortable text-center" data-column="LinkName" data-order="asc">Link Name</th>
                                <th class="sortable text-center" data-column="InternalMasterName" data-order="asc">Internal Master Name</th>
                                <th class="sortable text-center" data-column="PersonName" data-order="asc">Person Name</th>
                                <th class="sortable text-center" data-column="LogDateTime" data-order="asc">LogDateTime</th>
                                <th class="sortable text-center" data-column="Description" data-order="asc">Description</th>
                            </tr>
                        </thead>

                        <tbody id="tableBody" class="text-center">
                            <!-- Example data -->
                        </tbody>
                    </table>
                </div>

                <!-- Bottom Area -->
                <div class="datatable-footer-bottom">
                    <div class="totle-left">
                        <span id="totalList">Total List: 3</span>
                    </div>
                    <div id="customPagination" class="dataTables_paginate paging_simple_numbers"></div>
                    <input type="hidden" id="currentPage" value="1">
                    <div class="show-page">
                        <span>Show per page:</span>
                        <select id="pageLength" class="form-select">
                            <option value="5">5 </option>
                            <option value="10" selected>10 </option>
                            <option value="25">25</option>
                            <option value="-1">All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>