@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Product";
}
@section Scripts {
    <script src="~/js/Views/Product.js"></script>
}

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
    <style>
        .item-input {
            margin-bottom: 0.75rem;
        }

        .form-label span {
            color: red;
        }
    </style>
</head>

<div id="listSection">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box add">
                <h1 class="page-title">Product</h1>
                <div class="add-btn">
                    <a href="#" id="btnAdd">
                        <i class="ri-add-line"></i> <span>Add</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card com-profile-info">
                <!-- Top Header -->
                <div class="table-top-header">
                    <h4>List of Product</h4>
                    <div class="d-flex gap-2">
                        <div class="table-search-box">
                            <input type="text" id="productTableSearch" class="form-control form-control-sm" placeholder="Search...">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </div>
                        @* <div class="dropdown">
							<button class="btn-btn-outline-secondary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
								Filter <i class="ri-sound-module-line"></i>
							</button>
							<ul class="dropdown-menu" aria-labelledby="filterDropdown">
								<li><a class="dropdown-item filter-option" data-value="">All Status</a></li>
								<li><a class="dropdown-item filter-option" data-value="Pending">Pending</a></li>
								<li><a class="dropdown-item filter-option" data-value="Done">Done</a></li>
							</ul>
						</div> *@
                        <div id="exportButtons" class="btn-group" role="group"></div>
                    </div>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table id="GridListTable" class="table dt-responsive nowrap w-100">
                        <thead class="text-center"></thead>
                        <tbody class="text-center" id="tableBody"></tbody>
                    </table>
                    @* <table id="productTable" *@
                    @*        class="table dt-responsive nowrap w-100"> *@
                    @*     <thead class="bg-light"> *@
                    @*         <tr class="text-center"> *@
                    @*             <th class="sortable text-center" data-column="CompanyName" data-order="asc">Company Name</th> *@
                    @*             <th class="sortable text-center" data-column="ItemName" data-order="asc">Item Name</th> *@
                    @*             <th class="sortable text-center no-sort">Action</th> *@
                    @*         </tr> *@
                    @*     </thead> *@
                    @*     <tbody class="text-center"> *@
                    @*         <!-- Dynamic rows go here --> *@
                    @*     </tbody> *@
                    @* </table> *@
                </div>
                <!-- Bottom Area -->
                <div class="datatable-footer-bottom">
                    <div class="totle-left">
                        <span id="totalList">Total List: 3</span>
                    </div>
                    <div id="customPagination" class="dataTables_paginate paging_simple_numbers"></div>
                    <input type="hidden" id="currentPage" value="1">
                    <div class="show-page">
                        <span>Show per page:</span>
                        <select id="pageLength" class="form-select">
                            <option value="5">5 </option>
                            <option value="10" selected>10 </option>
                            <option value="25">25</option>
                            <option value="-1">All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="formSection" style="display: none;">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box add">
                <h1 class="page-title">Add Product</h1>
                <div class="add-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#" id="listSectionLink">Product</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page"> Add Product</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card com-profile-info">
                <div class="top-details">
                    <h2 class="page-form-title">Product Details</h2>
                    <form class="row all-custom-class" id="productForm" method="post">
                        <input type="hidden" hidden id="hdnItemId" />
                        <div class="col-xl-4 col-lg-6">
                            <div class="item-input">
                                <label class="form-label">Product Name <span>*</span></label>
                                <input type="text" id="txtItemName" class="form-control" placeholder="Enter Item/Product name" maxlength="50">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="button-main">
                    <a href="#" class="card-link" id="btnSaveProduct" type="button" data-action="save">
                        <i class="ri-save-line"></i>
                        <span>
                            Save
                        </span>
                    </a>
                    <a href="#" class="card-link" data-action="saveNew" id="btnSavenewProduct">
                        <i class="ri-save-line"></i>
                        <span>
                            Save & New
                        </span>
                    </a>
                    <a href="#" class="card-link" id="btnUpdateProduct" style="display:none;">
                        <i class="ri-save-line"></i>
                        <span>
                            Update
                        </span>
                    </a>
                    <a href="#" class="card-link" id="btnCancel">
                        <i class="ri-close-line"></i>
                        <span>
                            Cancel
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

