<div class="document-details">
    <h2 class="page-form-title">Attachment Details</h2>
    <div class="all-custom-class document-info">
        <!--begin::Repeater-->
        <div id="kt_docs_repeater_basic">
            <!--begin::Form group-->
            <div class="form-group">
                <div data-repeater-list="kt_docs_repeater_basic">
                    <div data-repeater-item id="attachmentRow">
                        <div class="form-group row g-3 align-items-end">
                            <div class="row g-3">
                                <div class="col-md-2">
                                    <div class="item-input">
                                        <label class="form-label">File Name <span>*</span></label>
                                        <input type="hidden" id="hdnAttachmentId" />
                                        <input type="text" class="form-control" id="txtFileName" placeholder="Enter File Name" maxlength="500" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="item-input">
                                        <label class="form-label">Attachment Type <span>*</span></label>
                                        <select class="select2-custom form-control ddlAttachment" style="width: 100%;">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="file-input">
                                        <label class="form-label">Choose File <span>*</span></label>
                                        <div class="input-group custom-file-button">
                                            <input type="text" hidden id="hdnUplodedFileName" />
                                            <span class="input-group-text upload-icon">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                            <input type="file" class="form-control file-upload" id="inputGroupFile" accept=".jpg, .jpeg, .png, .svg, .pdf">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="item-input d-flex flex-column">
                                        <label class="form-label">File Link <span>*</span></label>
                                        <a id="fileLink" class="filelink d-block text-primary mt-3" target="_blank">View File</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="item-input">
                                        <a class="btn-btn-dark-primary upload-btn" id="btnUplodeAttachment" style="margin-top:21px;cursor:pointer;">
                                            <i class="ri-upload-cloud-2-line"></i>
                                            Upload
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="item-input">
                                        <a href="javascript:;" data-repeater-delete class="btn-btn-light-danger btnDeleteAttachment">
                                            <i class="ri-delete-bin-3-line"></i>
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Form group-->
            <div class="form-group mt-3">
                <a href="javascript:;" data-repeater-create class="btn-btn-light-primary">
                    <i class="ri-add-line"></i>
                    Add New
                </a>
            </div>
        </div>
        <!--end::Repeater-->
    </div>
</div>