@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
}
<div class="app-toolbar  pt-3 px-lg-3">
    <div class="app-container  container-fluid d-flex flex-stack flex-wrap">
        <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
            <div class="page-title d-flex align-items-center gap-1 me-3">
                <h1 class="page-heading d-flex flex-column justify-content-center text-primary lh-1 fw-bolder fs-2x my-0 me-5">
                    Overview
                </h1>
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                        <a href="#" class="text-gray-500"><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li class="breadcrumb-item"><i class="fa-solid fa-chevron-right fs-4 text-gray-700 mx-n1"></i></li>
                    <li class="breadcrumb-item text-primary">
                        Profile
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="app-content  px-lg-3">
    <div class="app-container  container-fluid">
        <div class="container my-4">
        </div>
        <div id="AddProfileDiv" class="card">
            <div class="card-header border-0 cursor-pointer">
                <div class="card-title m-0">
                    <h3 class="fw-bold m-0">Profile</h3>
                </div>
            </div>
            <form class="form" id="ProFileBodyForm" method="post">
                <input type="hidden"  id="txtProfileId" />
                <div class="card-body">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <label for="profileName" class="form-label">Profile Name</label>
                            <input type="text" id="txtName" minlength="4" maxlength="12"  class="form-control" placeholder="Enter profile name">
                        </div>
                        <div class="col-md-6">
                            <label for="applicableFor" class="form-label">Applicable For</label>
                            <select name="Applicable" aria-label="Select a One Name" id="txtapplicable" class="selectpicker" data-live-search="true" data-width="100%">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-start py-4">
                    <button type="button" id="btnSaveForm" class="btn btn-primary me-2">Save</button>
                    <button type="button" id="btnSaveAndNewForm" class="btn btn-primary me-2">Save & New</button>
                </div>
            </form>
        </div>
        <div class="my-4"></div>
        <div id="tableDiv" class="card card-flush shadow-sm rounded-2xl" style="display:none">
            <div class="card-header p-4">
                <h4 class="fw-bold m-0 text-lg">Profile List</h4>
            </div>
            <div class="card-body">
                <table id="tableprofile"
                       class="table table-striped align-middle fs-6 mb-0">
                    <thead class="bg-light">
                        <tr>
                            <th>ProfileName</th>
                            <th>Applicable For</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dynamic rows go here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/common.js"></script>
<script>
    var profileResponseDto;
    $(document).on("click", "#btnViewForm", function () 
    {
        FetchProfileList();
        $("#AddProfileDiv").css('display','none')
        $("#backButton").css('display','Block')
    });
    //check validation 
    //for profile name
    $("#txtName").on("blur change",function ()
    {
        var ProfileName = $(this).val();
        if (!isAlphabets(ProfileName))
        {
            $("#txtName").val('');
            toastr.warning("Please enter a valid Profile Name", "Warning");
            return;
        }
    });
    //for applicable
    $("#txtapplicable").on("blur change", function ()
        {
        var Applicable = $(this).val();
        if (!isValidateSelect(Applicable))
        {
            toastr.warning("Please select a valid Applicable Name", "Warning");
            return;
        }
    });
     //on form submit
    $("#btnSaveForm").click(function (event) {
        event.preventDefault();
        Save();
    });
    //reset button
    $('#btnSaveAndNewForm').on('click', function () {
        Save();
        $('#ProFileBodyForm')[0].reset();
    });
    //
    $('#backButton').click(function () {
        window.location.reload(true);
        // $("#AddProfileDiv").css('display', 'Block')
        // $("#backButton").css('display', 'none');
        // $('#tableDiv').hide();
    });

    function Save()
    {
        var ProfileName = $('#txtName').val();
        var companyId = $('#txtapplicable').val();

        if (!isAlphabets(ProfileName))
        {
            toastr.warning("Please enter a valid Profile Name", "Warning");
            return;
        }
        if (!isValidateSelect(companyId))
        {
            toastr.warning("Please select a valid Applicable Name", "Warning");
            return;
        }

        var formdata = {
            ProfileName : ProfileName,
            CompanyTypeId : companyId
        };
        $.ajax({
            url: '/Profile/Profilesave/',
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(formdata),
            success: function (response) {
                toastr.success("Profile submitted successfully!");
            },
            error: function (req, status, error) {
                                toastr.error("Profile Failed to Submit!");

            }
        });
    }

    $(document).ready(function ()
    {
        GetAllApplicable();
    });

    function GetAllApplicable() 
    {
        $.ajax({
        url: '/Profile/GetAllApplicableList',
        type: "GET",
        dataType: "json",
        success: function (response) 
          {
             var data = response.filter(x => x.internalMasterTypeId == 1 );
             const selectApplicable = document.getElementById("txtapplicable");
             let placeholderOption = document.createElement("option");
             placeholderOption.value = "";
             placeholderOption.textContent = "Select Applicable";
             placeholderOption.disabled = true;
             placeholderOption.selected = true;
             selectApplicable.appendChild(placeholderOption);
             data.forEach(option => {
                    let opt = document.createElement("option");
                    opt.value = option.internalMasterId;
                    opt.textContent = option.internalMasterName;
                    selectApplicable.appendChild(opt);
             });

                $('.selectpicker').selectpicker('refresh');
            },
            error: function (xhr, status, error) {
                toastr.error("Failed to fetch data!", "Error");
            }
        });
    }
</script>