@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

@section Scripts {
    <script src="~/js/AttachmentDetails.js"></script>
    <script src="~/js/views/RFQDetails.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOyN2BYpLwazCPCHihlFTLrZ5H_MNizrc&callback=initMap&libraries=places">
    </script>
}
<div id="formDiv" style="display:none;">
    <div id="loader" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:9999;">
        <img src="~/images/loader.gif" alt="Loading..." />
    </div>
    <div class="row">
        <div class="col-12">
            <div class="page-title-box add">
                <h1 class="page-title">Add Request For Quote</h1>
                <div class="add-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a id="tableDivLink" href="">Request For Quote</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Add Request For Quote</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card com-profile-info">
                <div class="card-body">
                    <!-- Tab Headers -->
                    <ul class="nav nav-tabs mb-3" id="DetailsTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="rfqDetails-tab" data-bs-toggle="tab" data-bs-target="#RFQDetails" type="button" role="tab" aria-controls="RFQDetails" aria-selected="true">RFQ Details</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="vendorDetails-tab" data-bs-toggle="tab" data-bs-target="#VendorDetails" type="button" role="tab" aria-controls="VendorDetails" aria-selected="false">Vendor Details</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="previousQuotes-tab" data-bs-toggle="tab" data-bs-target="#PreviousQuotes" type="button" role="tab" aria-controls="PreviousQuotes" aria-selected="false">Previous Quotes</button>
                        </li>
                    </ul>

                    <!-- Tab Contents -->
                    <div class="tab-content" id="DetailsTabsContent">
                        <!-- RFQ DETAILS TAB -->
                        <div class="tab-pane fade show active" id="RFQDetails" role="tabpanel" aria-labelledby="rfqDetails-tab">
                            <div id="addReqDetailsDiv" class="card com-profile-info">
                                <div class="top-details">
                                    <form class="row all-custom-class" id="RfqDetailsForm" method="post">
                                        <input type="hidden" id="txtRfqDetailsId" />
                                        <div class="RFQ Details">
                                            <div class="row all-custom-class">
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label">Location <span>*</span></label>
                                                        <select class="select2-custom form-control" id="ddlLocation" style="width: 100%;">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label">RFQ No</label>
                                                        <input type="text" class="form-control " placeholder="Auto Generated" disabled id="txtRfqNo" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label">RFQ Date <span>*</span></label>
                                                        <input type="date" class="form-control" onfocus="setRfqDateMinDate()" id="txtRfqDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="Auto Generated" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label ">RFQ Expired On <span>*</span></label>
                                                        <input type="datetime-local"
                                                               onfocus="setRfqExpiredMinDate()"
                                                               class="form-control" id="txtRfqExpiredOn" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label">Indent No</label>
                                                        <select class="select2-custom form-control" id="ddlIndent" style="width: 100%;">
                                                        </select>
                                                        <input type="hidden" id="hdnIndentExpiryDate" />
                                                        <input type="hidden" id="hdnIndentDate">

                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="item-input">
                                                        <label class="form-label">Customer Name <span>*</span></label>
                                                        <select class="select2-custom form-control" data-control="select2" id="ddlCustomerName" style="width: 100%;">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label ">Vehicle Req On <span>*</span></label>
                                                        <input type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" id="txtVehicleReqDate" onfocus="setVehicleReqOnDate()" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input position-relative">
                                                        <label class="form-label">Origin/From <span>*</span></label>
                                                        <input  id="from-search-box" type="text" class="form-control" placeholder="Search location" autocomplete="off" />
                                                        <ul id="from-location-suggestions" class="list-group" style="position: absolute; z-index: 1000; width: 100%; display: none;"></ul>
                                                        <input type="hidden" id="fromLat">
                                                        <input type="hidden" id="fromLng">
                                                        <input type="hidden" id="fromState">
                                                        <input type="hidden" id="fromCity">
                                                    </div>
                                                </div>

                                                <!-- TO Input -->
                                                <div class="col-lg-3">
                                                    <div class="item-input position-relative">
                                                        <label class="form-label">Destination/To <span>*</span></label>
                                                        <input id="to-search-box" type="text" class="form-control " placeholder="Search location" autocomplete="off" />
                                                        <ul id="to-location-suggestions" class="list-group" style="position: absolute; z-index: 1000; width: 100%; display: none;"></ul>
                                                        <input type="hidden" id="toLat">
                                                        <input type="hidden" id="toLng">
                                                        <input type="hidden" id="toState">
                                                        <input type="hidden" id="toCity">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label">Vehicle Type <span>*</span></label>
                                                        <select class="select2-custom form-control" data-control="select2" id="ddlVehicleType" style="width: 100%;">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label">No. of Vehicles <span>*</span></label>
                                                        <input type="text" class="form-control" id="txtNoofVehicles" placeholder="Numeric" onkeypress="return isNumber(event)" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label">Max Costing </label>
                                                        <input type="text" class="form-control" placeholder="Numeric" id="txtMaxCosting" maxlength="8" onkeypress="return isNumber(event)" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label">Detention Per Day</label>
                                                        <input type="text" class="form-control" placeholder="Numeric" id="txtPerDay" maxlength="5" onkeypress="return isNumber(event)" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label">Detention Free Days</label>
                                                        <input type="text" class="form-control" placeholder="Numeric" id="txtFreeDay" maxlength="3" onkeypress="return isNumber(event)" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="Additional Details">
                                            <h3 class="page-form-title">Additional Details</h3>
                                            <div class="row all-custom-class">
                                                <div class="col-lg-6">
                                                    <div class="item-input">
                                                        <label class="form-label">RFQ Subject</label>
                                                        <input type="text" class="form-control" placeholder="Text" id="txtRfqSubject" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <div class="item-input">
                                                            <label class="form-label">RFQ Priority</label>
                                                            <select class="select2-custom form-control" aria-label="Selection"
                                                                    data-control="select2" placeholder="Selection" id="ddlRfqPriority">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label">RFQ Type</label>
                                                        <select class="select2-custom form-control" aria-label="Selection"
                                                                data-control="select2" placeholder="Selection" id="ddlRfqType">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <div class="item-input">
                                                            <label class="form-label">Item Name</label>
                                                            <select class="select2-custom form-control" id="ddlItemName" style="width: 100%;">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="item-input">
                                                        <label class="form-label ">Packing Type</label>
                                                        <select class="select2-custom form-control" id="ddlPackingType" style="width: 100%;">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="item-input">
                                                        <label class="form-label">Special Instructions</label>
                                                        <input type="text" class="form-control" placeholder="Text" id="txtSpecialInstructions" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        @await Html.PartialAsync("~/Views/Partials/_AttachmentDetails.cshtml")
                                    </form>
                                </div>

                            </div>

                        </div>
                        <!-- VENDOR DETAILS TAB -->
                        <div class="tab-pane fade" id="VendorDetails" role="tabpanel" aria-labelledby="vendorDetails-tab">
                            <div class="card com-profile-info">
                                <!-- Top Header -->
                                <div class="table-top-header">
                                    <h4>RFQ Sent To Vendors</h4>
                                </div>
                                <div class="table-responsive">
                                    <table id="rfqVendorTable" class="table dt-responsive nowrap w-100">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="text-center">Sr. No.</th>
                                                <th class="text-center">Vendor Name</th>
                                                <th class="text-center">PAN No</th>
                                                <th class="text-center">Vendor Rating</th>
                                                <th class="text-center">Mobile Number</th>
                                                <th class="text-center">WhatsApp Number</th>
                                                <th class="text-center">Email ID</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center"></tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td class="text-center">
                                                    <select class="select2-custom form-control" id="ddlRFQVendorList" style="width: 100%;"></select>
                                                </td>
                                                <td class="text-center"><input type="text" class="form-control" id="fetchVendorPanNo" disabled /></td>
                                                <td class="text-center"><input type="text" class="form-control" id="fetchVendorRating" disabled /></td>
                                                <td class="text-center"><input type="text" class="form-control" maxlength="10" id="fetchVendorMobileNo" /></td>
                                                <td class="text-center"><input type="text" class="form-control" maxlength="10" id="fetchVendorWhatsappNo" /></td>
                                                <td class="text-center"><input type="text" class="form-control" maxlength="50" id="fetchVendorEmailId" /></td>
                                                <td class="text-center">
                                                    <a class="card-link w-50" id="btnAddVendor" style="cursor:pointer;">Add</a> /
                                                    <a class="w-50" id="btnCancelVendor" style="cursor:pointer">Cancel</a>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- PREVIOUS QUOTES TAB -->
                        <div class="tab-pane fade" id="PreviousQuotes" role="tabpanel" aria-labelledby="previousQuotes-tab">
                            <div class="card com-profile-info">
                                <!-- Top Header -->
                                <div class="table-top-header">
                                    <h4>Previous Quotes</h4>
                                </div>
                                <div class="table-responsive">
                                    <table id="previousQoutesTable" class="table dt-responsive nowrap w-100">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="text-center">Sr. No.</th>
                                                <th class="text-center">Vendor Name</th>
                                                <th class="text-center">PAN No</th>
                                                <th class="text-center">Vendor Rating</th>
                                                <th class="text-center">Quote Date</th>
                                                <th class="text-center">Quote Rate</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center"></tbody>
                                    </table>
                                </div>

                            </div>

                            <div class="button-main">
                                <a href="#" class="card-link me-3" id="btnSaveType" type="button" data-action="save">
                                    <i class="ri-save-line"></i>
                                    <span>
                                        Save
                                    </span>
                                </a>
                                <a href="#" class="card-link" id="btnSaveAndNew" data-action="saveNew">
                                    <i class="ri-save-line"></i>
                                    <span>
                                        Save & New
                                    </span>
                                </a>
                            </div>
                            <div class="button-main" id="button-main" style="display:none;">
                                <a href="#" class="card-link" id="btnUpdateRfq" type="button">
                                    <i class="ri-save-line"></i>
                                    <span>
                                        Update
                                    </span>
                                </a>
                                <a href="#" class="card-link" id="btnCancel">
                                    <i class="ri-close-line"></i>
                                    <span>
                                        Cancel
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tableDiv">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box add">
                <h1 class="page-title">Request For Quote</h1>
                <div class="add-btn">
                    <a href="#" id="btnAdd">
                        <i class="ri-add-line"></i> <span>Add</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card com-profile-info">
                <!-- Top Header -->
                <div class="table-top-header">
                    <h4>List of Rfq</h4>
                    <div class="d-flex gap-2">
                        <div class="table-search-box">
                            <input type="text" id="rfqTableSearch" class="form-control form-control-sm" placeholder="Search...">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </div>
                        <div id="exportButtons" class="btn-group" role="group"></div>
                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table id="GridListTable" class="table dt-responsive nowrap w-100">
                        <thead class="text-center"></thead>
                        <tbody class="text-center" id="tableBody"></tbody>
                    </table>
                    @* <table id="rfqTable" class="table dt-responsive nowrap w-100">
                        <thead class="text-center">
                            <tr>
                                <th class="sortable text-center" data-column="RfqNo" data-order="asc">Rfq No</th>
                                <th class="sortable text-center" data-column="Location" data-order="asc">Location</th>
                                <th class="sortable text-center" data-column="RfqDate" data-order="asc">Rfq Date</th>
                                <th class="sortable text-center" data-column="ExpiryDate" data-order="asc">Rfq Expired On</th>
                                <th class="sortable text-center" data-column="IndentNo" data-order="asc">Indent No</th>
                                <th class="sortable text-center" data-column="CustomerName" data-order="asc">Customer Name</th>
                                <th class="sortable text-center" data-column="VehicleReqOn" data-order="asc">Vehicle Req On</th>
                                <th class="sortable text-center" data-column="FromLocation" data-order="asc">Origin/From</th>
                                <th class="sortable text-center" data-column="ToLocation" data-order="asc">Destination/To</th>
                                <th class="sortable text-center" data-column="VehicleTypeName" data-order="asc">Vehicle Type</th>
                                <th class="sortable text-center" data-column="VehicleCount" data-order="asc">No of Vehicles</th>
                                <th class="sortable text-center" data-column="MaxCosting" data-order="asc">Max Costing</th>
                                <th class="sortable text-center" data-column="DetentionPerDay" data-order="asc">Detention Per Day</th>
                                <th class="sortable text-center" data-column="DetentionFreeDays" data-order="asc">Detention Free Days</th>
                                <th class="sortable text-center" data-column="RfqSubject" data-order="asc">RFQ Subject</th>
                                <th class="sortable text-center" data-column="RfqPriority" data-order="asc">RFQ Priority</th>
                                <th class="sortable text-center" data-column="RfqType" data-order="asc">RFQ Type</th>
                                <th class="sortable text-center" data-column="ItemName" data-order="asc">Item Name</th>
                                <th class="sortable text-center" data-column="PackingTypeName" data-order="asc">Packing Type</th>
                                <th class="text-center no-sort">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center"></tbody> <!-- This will be dynamically filled -->
                    </table> *@
                </div>

                <!-- Bottom Area -->
                <div class="datatable-footer-bottom">
                    <div class="totle-left">
                        <span id="totalList">Total List: 3</span>
                    </div>
                    <div id="customPagination" class="dataTables_paginate paging_simple_numbers"></div>
                    <input type="hidden" id="currentPage" value="1">
                    <div class="show-page">
                        <span>Show per page:</span>
                        <select id="pageLength" class="form-select">
                            <option value="5">5 </option>
                            <option value="10" selected>10 </option>
                            <option value="25">25</option>
                            <option value="-1">All</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>