@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Vehicle Indent";
}

@section Scripts {
    <script src="~/js/views/VehicleIndent.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOyN2BYpLwazCPCHihlFTLrZ5H_MNizrc&callback=initMap&libraries=places">
    </script>
}


<div id="tableDiv">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box add">
                <h1 class="page-title">Vehicle Indent</h1>
                <div class="add-btn">
                    <a href="#" id="btnAdd">
                        <i class="ri-add-line"></i> <span>Add</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card com-profile-info">
                <!-- Top Header -->
                <div class="table-top-header">
                    <h4>List of Vehicle Indent</h4>
                    <div class="d-flex gap-2">
                        <div class="table-search-box">
                            <input type="text" id="IndentTableSearch" class="form-control form-control-sm" placeholder="Search...">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </div>
                        <div id="exportButtons" class="btn-group" role="group"></div>
                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table id="GridListTable" class="table dt-responsive nowrap w-100">
                        <thead class="text-center"></thead>
                        <tbody class="text-center" id="tableBody"></tbody>
                    </table>
                    @* <table id="IndentTable" class="table dt-responsive nowrap w-100"> *@
                    @*     <thead> *@
                    @*         <tr class="text-center"> *@
                    @*             <th class="sortable text-center" data-column="LocationName" data-order="asc">Location</th> *@
                    @*             <th class="sortable text-center" data-column="IndentNo" data-order="asc">Indent No</th> *@
                    @*             <th class="sortable text-center" data-column="IndentDate" data-order="asc">Indent Date</th> *@
                    @*             <th class="sortable text-center" data-column="VehicleReqOn" data-order="asc">Vehicle Req On</th> *@
                    @*             <th class="sortable text-center" data-column="PartyName" data-order="asc">Customer Name</th> *@
                    @*             <th class="sortable text-center" data-column="FromLocation" data-order="asc">Origin/From</th> *@
                    @*             <th class="sortable text-center" data-column="ToLocation" data-order="asc">Destination/To</th> *@
                    @*             <th class="sortable text-center" data-column="VehicleTypeName" data-order="asc">Vehicle Type</th> *@
                    @*             <th class="sortable text-center" data-column="RequiredVehicles" data-order="asc">No. of Vehicles Req</th> *@
                    @*             <th class="sortable text-center" data-column="ExpiryDate" data-order="asc">Indent Expired On</th> *@
                    @*             <th class="sortable text-center" data-column="ConsignerName" data-order="asc">Consignor</th> *@
                    @*             <th class="sortable text-center" data-column="PickUpAddress" data-order="asc">Pickup Address</th> *@
                    @*             <th class="sortable text-center" data-column="ConsigneeName" data-order="asc">Consignee</th> *@
                    @*             <th class="sortable text-center" data-column="DeliveryAddress" data-order="asc">Delivery Address</th> *@
                    @*             <th class="sortable text-center" data-column="ItemName" data-order="asc">Item Name</th> *@
                    @*             <th class="sortable text-center" data-column="PakingName" data-order="asc">Packing Type</th> *@
                    @*             <th class="sortable text-center" data-column="Remarks" data-order="asc">Remarks</th> *@

                    @*             <th class="text-center no-sort">Action</th> *@
                    @*         </tr> *@
                    @*     </thead> *@

                    @*     <tbody class="text-center"> *@
                    @*         <!-- Example data --> *@
                    @*     </tbody> *@
                    @* </table> *@
                </div>

                <!-- Bottom Area -->
                <div class="datatable-footer-bottom">
                    <div class="totle-left">
                        <span id="totalList">Total List: 3</span>
                    </div>
                    <div id="customPagination" class="dataTables_paginate paging_simple_numbers"></div>
                    <input type="hidden" id="currentPage" value="1">
                    <div class="show-page">
                        <span>Show per page:</span>
                        <select id="pageLength" class="form-select">
                            <option value="5">5 </option>
                            <option value="10" selected>10 </option>
                            <option value="25">25</option>
                            <option value="-1">All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="formDiv" class="d-none">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box add">
                <h1 class="page-title">Vehicle Indent</h1>

                <div class="add-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" id="tableDivLink">Vehicle Indent</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Add Vehicle Indent</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @* <div class="page-title-box add"> *@
            @*     <h1 class="page-title">Vehicle Indent</h1> *@
            @* </div> *@

            <div id="addReqBranchDiv" class="card com-profile-info">
                <div class="top-details">
                    <form class="row all-custom-class" id="vehicleIndentForm" method="post">
                        <input type="hidden" id="txtIndentId" />
                        <div class="row all-custom-class">
                            <div class="col-lg-3">
                                <div class="item-input">
                                    <label class="form-label"><span>*</span>Location </label>
                                    <select class="select2-custom form-control" id="ddlLocation" data-control="select2" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="item-input">
                                    <label class="form-label"><span>*</span>Indent No</label>
                                    <input type="text" class="form-control " placeholder="Auto Generated" disabled id="txtIndentNo" maxlength="50" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="item-input">
                                    <label class="form-label"><span>*</span>Indent Date</label>
                                    <input type="date" value="@DateTime.Now.ToString("dd-MM-yyyy")" class="form-control" aria-label="Indent Date" placeholder="Date Selection" id="txtIndentDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="item-input">
                                    <label class="form-label "><span>*</span>Vehicle Req On</label>
                                    <input type="date" onfocus="setMinVehicleReqOnDate()" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" id="txtVehicleReqDate" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label"><span>*</span>Customer Name</label>
                                    <select class="select2-custom form-control" data-control="select2" id="ddlCustomerName" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="item-input position-relative">
                                    <label class="form-label"><span>*</span>Origin/From</label>
                                    <input id="from-search-box" type="text" class="form-control" placeholder="Search location" autocomplete="off" />
                                    <ul id="from-location-suggestions" class="list-group" style="position: absolute; z-index: 1000; width: 100%; display: none;"></ul>
                                    <input type="hidden" id="fromLat">
                                    <input type="hidden" id="fromLng">
                                    <input type="hidden" id="fromState">
                                    <input type="hidden" id="fromCity">
                                </div>
                            </div>

                            <!-- TO Input -->
                            <div class="col-lg-3">
                                <div class="item-input position-relative">
                                    <label class="form-label"><span>*</span>Destination/To</label>
                                    <input id="to-search-box" type="text" class="form-control" placeholder="Search location" autocomplete="off" />
                                    <ul id="to-location-suggestions" class="list-group" style="position: absolute; z-index: 1000; width: 100%; display: none;"></ul>
                                    <input type="hidden" id="toLat">
                                    <input type="hidden" id="toLng">
                                    <input type="hidden" id="toState">
                                    <input type="hidden" id="toCity">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="item-input">
                                    <label class="form-label"><span>*</span>Vehicle Type</label>
                                    <select class="select2-custom form-control" data-control="select2" id="ddlVehicleType" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="item-input">
                                    <label class="form-label"><span>*</span>No. of Vehicles Req</label>
                                    <input type="text" class="form-control" id="txtNoofVehicles" placeholder="Numeric" maxlength="5" onkeypress="return isNumber(event)" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="item-input">
                                    <label class="form-label "><span>*</span>Indent Expired On</label>
                                    <input type="datetime-local"
                                           onfocus="setRfqExpiredMinDate()"
                                           class="form-control" id="txtRfqExpiredOn" />
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="Additional Details">
                            <h3 class="page-form-title">Additional Details</h3>
                            <div class="row all-custom-class">
                                <div class="col-lg-6">
                                    <div class="item-input">
                                        <label class="form-label">Consignor</label>
                                        <select id="ddlConsignorInput" class="select2-custom form-control" data-control="select2" style="width:100%;" data-tags="true">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="item-input">
                                        <label class="form-label">Pickup Address</label>
                                        <input type="text" class="form-control" placeholder="Text" id="txtPickupAddress" maxlength="300" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="item-input">
                                        <label class="form-label">Consignee</label>
                                        <select id="ddlConsigneeInput" class="select2-custom form-control" data-control="select2" style="width:100%;" data-tags="true">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="item-input">
                                        <label class="form-label">Delivery Address</label>
                                        <input type="text" class="form-control" placeholder="Text" id="txtDeliveryAddress" maxlength="300" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="item-input">
                                        <div class="item-input">
                                            <label class="form-label">Item Name</label>
                                            <select class="select2-custom form-control" id="ddlItemName" style="width: 100%;">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="item-input">
                                        <label class="form-label ">Packing Type</label>
                                        <select class="select2-custom form-control" id="ddlPackingType" style="width: 100%;">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="item-input">
                                        <label class="form-label"> Remarks</label>
                                        <input type="text" class="form-control" placeholder="Text" id="txtRemarks" maxlength="200" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-main">
                            <a href="#" class="card-link" id="btnSave" type="button" data-action="save">
                                <i class="ri-save-line"></i>
                                <span>
                                    Save
                                </span>
                            </a>
                            <a href="#" class="card-link" id="btnsaveandnew" data-action="saveNew">
                                <i class="ri-save-line"></i>
                                <span>
                                    Save & New
                                </span>
                            </a>
                            <a href="#" class="card-link" id="btnupdate" style="display:none;">
                                <i class="ri-save-line"></i>
                                <span>
                                    Update
                                </span>
                            </a>
                            <a href="#" class="card-link" id="btnCancel">
                                <i class="ri-close-line"></i>
                                <span>
                                    Cancel
                                </span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
