@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Reset Password";
}

@section Scripts {
    <script src="~/js/Views/ResetPassword.js"></script>
}

<div id="formDiv">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box add">
                <h1 class="page-title">Reset Password</h1>

                <div class="add-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" id="tableDivLink">Reset Password</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Add Reset Password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card com-franchise-info">
                <form class="form" id="resetPasswordForm" method="post">
                    <input type="hidden" id="txtUserId" />
                    <div class="franchise-details">
                        <h2 class="page-form-title">Reset Password Details</h2>
                        <div class="row all-custom-class">

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label">Login Name</label>
                                    <input class="form-control" id="txtLoginName" required autocomplete="off" minlength="6" maxlength="30" />
                                </div>
                            </div>
                            

                        </div>
                    </div>

                    <div class="button-main">
                        <a href="#" class="card-link" id="btnSaveReset" type="button" data-action="save">
                            <i class="ri-save-line"></i>
                            <span>
                                Save
                            </span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>