@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
    ViewData["Title"] = "Set New Password";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleet Lynk | Forgot Password </title>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="FleetLynk" name="author" />

    <!-- Figtree FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <!-- intl-tel-input CSS -->
    <link href="~/css/intlTelInput-largeFlags.css" rel="stylesheet" type="text/css" />
    <!-- Select2 CSS -->
    <link href="~/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/buttons.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/responsive.bootstrap5.min.css" />
    <link href="~/css/dropzone.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/select2-bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/remixicon.css" rel="stylesheet" type="text/css" />
    <link href="~/css/simplebar.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/app-style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>
<body data-sidenav-size="default">
    <div class="wrapper single-page">
        <div class="sign-inner">
            <div class="sign-page-center">
                <div class="sign-left">
                    <div class="inner-sign-info new-passwoed">
                        <div class="single-logo">
                            <img src="~/images/logo.svg" alt="" />
                        </div>
                        <div class="login-main">
                            <form class="theme-form set-new-box all-custom-class">
                                <h2>Set New Password</h2>
                                <p>Create a strong password to keep your account safe and secure.</p>
                                <div class="item-input">
                                    <label class="form-label">New Password</label>
                                    <div class="form-input position-relative">
                                        <input id="newPassword" class="form-control"  name="login[password]" required="" placeholder="Create strong Password" />
                                        <div class="show-hide"><span class="show"></span></div>
                                    </div>
                                </div>
                                <div class="item-input">
                                    <label class="form-label">Confirm New Password</label>
                                    <div class="form-input position-relative">
                                        <input id="confirmPassword" class="form-control" type="password"  required="" placeholder="Re-enter your new password" />
                                        <div class="show-hide"><span class="show"></span></div>
                                    </div>
                                </div>
                                <button type="button" id="BtnCreateNew" class="login-btns">
                                    Create New Password
                                </button>
                                <div class="newpwd-text">
                                    <span>Remembered it ? <a href="@Url.Action("Login", "Login")">Login</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="sign-right">
                    <img src="~/images/truck-driving-city-street-night-bright-lights-tall-buildings-making-its-way-through-with-trailer5.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/intlTelInput.min.js"></script>
    <script src="~/js/dropzone.min.js"></script>
    <script src="~/js/jquery.repeater.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/datatable-init.js"></script>
    <script src="~/js/script-app.js"></script>
    <script src="~/js/views/SetNewPassword.js"></script>
</body>
</html>