@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "CorporateCompany";
}
@section Scripts {
    <script src="~/js/AttachmentDetails.js"></script>
    <script src="~/js/Views/CorporateCompany.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOyN2BYpLwazCPCHihlFTLrZ5H_MNizrc&callback=initMap&libraries=places">
    </script>
}

<div id="tableDiv">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box add">
                <h1 class="page-title">Corporate Company</h1>

                <div class="add-btn">
                    <a href="#" id="btnAdd">
                        <i class="ri-add-line"></i> <span>Add</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card com-profile-info">
                <!-- Top Header -->
                <div class="table-top-header">
                    <h4>List of Corporate Company</h4>
                    <div class="d-flex gap-2">
                        <div class="table-search-box">
                            <input type="text" id="corporateTableSearch" class="form-control form-control-sm" placeholder="Search...">
                            <button type="submit"><i class="ri-search-line"></i></button>
                        </div>
                        <div id="exportButtons" class="btn-group" role="group"></div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="GridListTable" class="table dt-responsive nowrap w-100">
                        <thead class="text-center"></thead>
                        <tbody class="text-center" id="tableBody"></tbody>
                    </table>
                </div>
                @* <!-- Table --> *@
                @* <div class="table-responsive"> *@
                @*     <table id="corporateTable" class="table dt-responsive nowrap w-100"> *@
                @*         <thead> *@
                @*             <tr class="text-center"> *@
                @*                 <th class="sortable text-center" data-column="CompanyName" data-order="asc">Company Name</th> *@
                @*                 <th class="sortable text-center" data-column="AddressLine" data-order="asc">Address</th> *@
                @*                 <th class="sortable text-center" data-column="PinCode" data-order="asc">Pincode</th> *@
                @*                 <th class="sortable text-center" data-column="ContactPerson" data-order="asc">ContactPerson</th> *@
                @*                 <th class="sortable text-center" data-column="MobNo" data-order="asc">MobileNumber</th> *@
                @*                 <th class="sortable text-center" data-column="ContactNo" data-order="asc">ContactNumber</th> *@
                @*                 <th class="sortable text-center" data-column="WhatsAppNo" data-order="asc">whatsAppNo</th> *@
                @*                 <th class="sortable text-center" data-column="Email" data-order="asc">Email</th> *@
                @*                 <th class="sortable text-center" data-column="PANNo" data-order="asc">Pan No</th> *@
                @*                 <th class="sortable text-center" data-column="GSTNo" data-order="asc">GST No</th> *@
                @*                 <th class="text-center no-sort">Action</th> *@
                @*             </tr> *@
                @*         </thead> *@

                @*         <tbody class="text-center"> *@
                @*             <!-- Example data --> *@
                @*         </tbody> *@
                @*     </table> *@
                @* </div> *@

                <!-- Bottom Area -->
                <div class="datatable-footer-bottom">
                    <div class="totle-left">
                        <span id="totalList">Total List: 3</span>
                    </div>
                    <div id="customPagination" class="dataTables_paginate paging_simple_numbers"></div>
                    <input type="hidden" id="currentPage" value="1">
                    <div class="show-page">
                        <span>Show per page:</span>
                        <select id="pageLength" class="form-select">
                            <option value="5">5 </option>
                            <option value="10" selected>10 </option>
                            <option value="25">25</option>
                            <option value="-1">All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="formDiv" style="display:none;">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box add">
                <h1 class="page-title">Corporate Company</h1>

                <div class="add-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" id="tableDivLink">Corporate Company</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Add Corporate Company</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card com-franchise-info">
                <form class="form" id="CompanyTypeForm" method="post">
                    <input type="hidden" id="txtCompanyId" />
                    <div class="franchise-details">
                        <h2 class="page-form-title">Corporate Company Details</h2>
                        <div class="row all-custom-class">

                            <div class="col-lg-6">
                                <div class="item-input">

                                    <label class="form-label">Company Name <span>*</span> </label>
                                    <input type="text" class="form-control" placeholder="Company Name" maxlength="100" id="txtCompanyName" name="Company Name" />
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label ">Franchise Name <span>*</span></label>
                                    <select class="select2-custom form-control" id="ddlFranchisename" style="width: 100%;">
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="item-input">

                                    <label class="form-label ">Address <span>*</span></label>
                                    <input id="from-search-box" type="text" class="form-control" placeholder="Search location" autocomplete="off" maxlength="200" />
                                    <ul id="from-location-suggestions" class="list-group" style="position: absolute; z-index: 1000; width: 95%; display: none;"></ul>
                                    <input type="hidden" id="fromLat">
                                    <input type="hidden" id="fromLng">
                                    <input type="hidden" id="fromState">
                                    <input type="hidden" id="fromCity">
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label ">City <span>*</span></label>
                                    <select class="select2-custom form-control" id="ddlCity" style="width: 100%;">
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label ">Pincode <span>*</span></label>
                                    <input type="text" class="form-control" placeholder="Pin Code" id="txtPinCode" maxlength="6" onkeypress="return isNumber(event)" name="Pincode" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label ">Contact Person</label>
                                    <input type="text" class="form-control" placeholder="Contact Person" id="txtPerson" maxlength="50" name="Contact Person" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label ">WhatsApp Number <span>*</span></label>
                                    <input type="tel" class="form-control phone-input" placeholder="+1 (555) 000-0000" id="txtWhatsAppNumber" maxlength="10" onkeypress="return isNumber(event)" name="Whatsapp Number" />

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label ">Mobile Number</label>
                                    <input type="tel" class="form-control phone-input" placeholder="+1 (555) 000-0000" id="txtMobileNumber" maxlength="10" onkeypress="return isNumber(event)" name="Mobile Number" />

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label"> Contact Number</label>
                                    <input type="tel" class="form-control phone-input" placeholder="+1 (555) 000-0000" id="txtContactNumber" maxlength="10" onkeypress="return isNumber(event)" name="Contact Number" />

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label required">Pan Number <span>*</span></label>
                                    <input type="text" class="form-control" placeholder="xxxxxxxxxx" id="txtPanNumber" maxlength="10" name="Pan Number" onkeypress="return AllowAlphaNumericOnly(event)" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label">Email ID</label>
                                    <input type="email" class="form-control" placeholder="email" id="txtEmail" maxlength="50" name="Email" />
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label">GST Number</label>
                                    <input type="text" class="form-control" placeholder="xxxxx-xxxxx-xxxxx" id="txtGstNumber" maxlength="15" name="Gst Number" onkeypress="return AllowAlphaNumericOnly(event)" />
                                </div>
                            </div>

                        </div>
                    </div>

                    @await Html.PartialAsync("~/Views/Partials/_AttachmentDetails.cshtml")

                    <div class="button-main">
                        <a href="#" class="card-link" id="btnSaveCompanyType" type="button" data-action="save">
                            <i class="ri-save-line"></i>
                            <span>
                                Save
                            </span>

                        </a>

                        <a href="#" class="card-link" id="btnsaveandnew" data-action="saveNew">
                            <i class="ri-save-line"></i>
                            <span>
                                Save & New
                            </span>
                        </a>
                        <a href="#" class="card-link" id="btnupdate" style="display:none;">
                            <i class="ri-save-line"></i>
                            <span>
                                Update
                            </span>
                        </a>
                        <a href="#" class="card-link" id="btnCancel">
                            <i class="ri-close-line"></i>
                            <span>
                                Cancel
                            </span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
