@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Change Password";

    // Check if password was updated successfully
    var passwordChanged = Context.Request.Query["success"] == "true";
}

@section Scripts {
    <script src="~/js/Views/ChangePassword.js"></script>
}

<div id="formDiv">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box add">
                <h1 class="page-title">Change Password</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card com-franchise-info">
                <form class="form" id="changeTypeForm" method="post">
                    <input type="hidden" id="txtChangeId" />
                    <div class="franchise-details">
                        <h2 class="page-form-title">Change Password Details</h2>
                        <div class="row all-custom-class">

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label">Current Password <span>*</span></label>
                                    <input type="password" class="form-control" placeholder="Current Password" maxlength="100" id="txtCurrentPassword" />
                                </div>
                            </div>

                            <div class="w-100"></div>

                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label">New Password <span>*</span></label>
                                    <input type="password" class="form-control" placeholder="New Password" maxlength="100" id="txtNewPassword" />
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <div class="item-input">
                                    <label class="form-label">Re-Type New Password <span>*</span></label>
                                    <input type="password" class="form-control" placeholder="Re-Type New Password" maxlength="100" id="txtReTypePassword" />
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="button-main">
                        <a href="#" class="card-link" id="btnSaveChangePass" type="button" data-action="save">
                            <i class="ri-save-line"></i>
                            <span>
                                Save
                            </span>

                        </a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-4" style="position: fixed; top: 150px; left: 0; right: 0; z-index: 1050;">
    <div class="col-sm-6 offset-sm-2">
        <div class="card success-card d-none" id="successCard">
            <div class="card-body d-flex align-items-center">
                <div class="success-icon me-3">✅</div>
                <div>
                    <h5 class="card-title mb-1">Thank You!</h5>
                    <p class="card-text mb-0">Password has been changed successfully.</p>
                </div>
            </div>
        </div>
    </div>
</div>
