@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RFQ.UI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet">
    <link href="~/css/intlTelInput-largeFlags.css" rel="stylesheet" type="text/css" />
    <link href="~/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/css/buttons.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/css/dropzone.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/select2-bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/remixicon.css" rel="stylesheet" type="text/css" />
    <link href="~/css/simplebar.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/app-style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css"
          rel="stylesheet">
</head>

<body data-sidenav-size="default">
    <div class="wrapper single-page">
        <div class="sign-inner">
            <div class="sign-page-center">
                <div class="sign-left">
                    <div class="inner-sign-info">
                        <div class="single-logo">
                            <img src="~/images/logo.svg" alt="Logo" />
                        </div>
                        <div class="login-main">
                            <form id="loginForm" class="theme-form all-custom-class requires-validation" novalidate>
                                <h2>Welcome to FLEET LYNK</h2>
                                @* <p>Don’t have an account? <a href="@Url.Action("Signup", "Login")">Create an Account</a></p> *@
                                @*    <a href="#" class="google-btn">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_42_761)">
                                            <path d="M5.31891 14.5036L4.4835 17.6223L1.43011 17.6869C0.517594 15.9944 0 14.0579 0 12.0001C0 10.0102 0.483938 8.13374 1.34175 6.48145H1.34241L4.06078 6.97982L5.25159 9.68188C5.00236 10.4085 4.86652 11.1885 4.86652 12.0001C4.86661 12.881 5.02617 13.725 5.31891 14.5036Z" fill="#FBBB00" />
                                            <path d="M23.7903 9.7583C23.9282 10.4842 24 11.2339 24 12.0001C24 12.8592 23.9097 13.6972 23.7376 14.5056C23.1535 17.2563 21.6271 19.6583 19.5126 21.3581L19.5119 21.3574L16.088 21.1827L15.6034 18.1576C17.0065 17.3348 18.103 16.0471 18.6805 14.5056H12.2638V9.7583H18.7742H23.7903Z" fill="#518EF8" />
                                            <path d="M19.5119 21.3572L19.5125 21.3579C17.4561 23.0109 14.8437 23.9999 12 23.9999C7.43011 23.9999 3.45694 21.4456 1.43011 17.6867L5.31891 14.5034C6.3323 17.208 8.94132 19.1333 12 19.1333C13.3147 19.1333 14.5464 18.7779 15.6033 18.1575L19.5119 21.3572Z" fill="#28B446" />
                                            <path d="M19.6595 2.76262L15.7721 5.94525C14.6782 5.26153 13.3852 4.86656 12 4.86656C8.87206 4.86656 6.21425 6.88017 5.25163 9.68175L1.34239 6.48131H1.34174C3.33889 2.63077 7.36217 0 12 0C14.9116 0 17.5813 1.03716 19.6595 2.76262Z" fill="#F14336" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_42_761">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    Sign in with Google
                                </a> *@
                                @*  <div class="login-social-title">
                                    <h5></h5>
                                </div> *@
                                <div class="item-input">
                                    <label class="form-label">Login Name</label>
                                    <input class="form-control" id="txtLoginName" required autocomplete="off" minlength="6" maxlength="30" />
                                </div>
                                <div class="item-input">
                                    <label class="form-label">Password</label>
                                    <div class="form-input position-relative">
                                        <input class="form-control" id="Password" type="password" name="login[password]" required placeholder="*********" autocomplete="off" />
                                        <div class="show-hide">
                                            <span class="show"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div class="form-check mb-0">
                                        <input type="checkbox" class="form-check-input" id="chkRememberMe" />
                                        <label class="form-check-label" for="rememberMe">Remember Me</label>
                                    </div>
                                    <div class="forget-item mb-0">
                                        <a href="@Url.Action("ForgotPassword", "Login")">Forget Password?</a>
                                    </div>
                                </div>
                                <button type="submit" id="loginButton" class="login-btns">
                                    Log In
                                </button>
                                <br />
                                <p id="errorMessage"></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="sign-right">
                    <img src="~/images/truck-driving-city-street-night-bright-lights-tall-buildings-making-its-way-through-with-trailer.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/intlTelInput.min.js"></script>
    <script src="~/js/dropzone.min.js"></script>
    <script src="~/js/jquery.repeater.min.js"></script>
    <script src="~/js/common.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/datatable-init.js"></script>
    <script src="~/js/script-app.js"></script>
    <script src="~/js/Views/Login.js"></script>
    <script src="~/js/views/login.js"></script>
</body>