@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "sign-up";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fleet Lynk | Sign Up</title>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="FleetLynk" name="author" />

    <!-- Figtree FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <!-- intl-tel-input CSS -->
    <link href="~/css/intlTelInput-largeFlags.css" rel="stylesheet" type="text/css" />
    <!-- Select2 CSS -->
    <link href="~/css/select2.min.css" rel="stylesheet" type="text/css" />
    <!-- Select2 Bootstrap4 CSS -->
    <link href="~/css/select2-bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Remixicon CSS -->
    <link href="~/css/remixicon.css" rel="stylesheet" type="text/css" />
    <!-- SimpleBar CSS -->
    <link href="~/css/simplebar.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="~/css/app-style.css" rel="stylesheet" type="text/css" />


</head>
<body data-sidenav-size="default">
    <div class="wrapper single-page">
        <div class="sign-inner">
            <div class="sign-page-center">
                <div class="sign-left">
                    <div class="inner-sign-info">
                        <div class="single-logo">
                            <img src="~/images/logo.svg" alt="" />
                        </div>
                        <div class="login-main">
                            <form class="theme-form all-custom-class requires-validation" novalidate>
                                <h2>Create an Account</h2>
                                <p>Already have an account? <a href="@Url.Action("Login", "Login")">Sign in here</a></p>
                                <div class="item-input">
                                    <label class="form-label">First Name</label>
                                    <input class="form-control" type="text" name="name" placeholder="Enter First Name" required>
                                    <div class="invalid-feedback"><i class="ri-information-line"></i> Please put valid First Name</div>
                                </div>
                                <div class="item-input">
                                    <label class="form-label">Last Name</label>
                                    <input class="form-control" type="text" name="name" placeholder="Enter Last Name" required>
                                    <div class="invalid-feedback"><i class="ri-information-line"></i> Please put valid Last Name</div>
                                </div>
                                <div class="item-input">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" type="email" required="" placeholder="admin@example.com" />
                                    <div class="invalid-feedback"><i class="ri-information-line"></i> Please put valid Email</div>
                                </div>
                                <div class="item-input">
                                    <label class="form-label">Password</label>
                                    <div class="form-input position-relative">
                                        <input class="form-control" type="password" name="login[password]" required="" placeholder="*********" />
                                        <div class="show-hide"><span class="show"></span></div>
                                        <div class="invalid-feedback"><i class="ri-information-line"></i> Please put valid Password</div>
                                    </div>
                                    <span><i class="ri-information-line"></i> Use 8 or more characters with a mix of letters, numbers & symbols</span>
                                </div>
                                <div class="item-input">
                                    <label class="form-label">Confirm Password</label>
                                    <input class="form-control" type="password" name="confirmpassword" required="" placeholder="" />
                                    <div class="invalid-feedback"><i class="ri-information-line"></i> Please put valid Confirm Password</div>
                                </div>
                                <div class="forget-item">
                                    <label class="check-box-custom">
                                        <input class="form-check-input" type="checkbox" value="" name="agree">
                                        <span class="checkmark"></span>
                                        <span class="form-check-label">
                                            I Agree <a href="#">Terms and conditions.</a>
                                        </span>
                                    </label>
                                </div>
                                <button type="submit" class="login-btns">
                                    Sign Up
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="sign-right">
                    <img src="~/images/truck-driving-city-street-night-bright-lights-tall-buildings-making-its-way-through-with-trailer2.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Min JS -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap Bundle JS -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleBar JS -->
    <script src="~/js/simplebar.min.js"></script>
    <!-- Select2 JS -->
    <script src="~/js/select2.min.js"></script>
    <!-- intl-tel-input JS -->
    <script src="~/js/intlTelInput.min.js"></script>
    <!-- Repeater JS -->
    <script src="~/js/jquery.repeater.min.js"></script>
    <!-- Script App JS -->
    <script src="~/js/script-app.js"></script>
</body>
</html>